<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>connectionProvider</display-name>
    <servlet-name>connectionProvider</servlet-name>
    <servlet-class>DBconnection.connectionProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectionProvider</servlet-name>
    <url-pattern>/connectionProvider</url-pattern>
  </servlet-mapping>
  <display-name>hrms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Login.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Login.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teamData</display-name>
    <servlet-name>teamData</servlet-name>
    <servlet-class>DropDown.teamData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teamData</servlet-name>
    <url-pattern>/teamData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>UserData.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserData</display-name>
    <servlet-name>getUserData</servlet-name>
    <servlet-class>UserData.getUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserData</servlet-name>
    <url-pattern>/getUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>UserData.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkedIn</display-name>
    <servlet-name>checkedIn</servlet-name>
    <servlet-class>checkin.checkedIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkedIn</servlet-name>
    <url-pattern>/checkedIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkedOut</display-name>
    <servlet-name>checkedOut</servlet-name>
    <servlet-class>checkin.checkedOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkedOut</servlet-name>
    <url-pattern>/checkedOut</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>schedular.taskAssigner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>getCheckinData</display-name>
    <servlet-name>getCheckinData</servlet-name>
    <servlet-class>checkin.getCheckinData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCheckinData</servlet-name>
    <url-pattern>/getCheckinData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLeave</display-name>
    <servlet-name>ApplyLeave</servlet-name>
    <servlet-class>ApplyLeave.ApplyLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeave</servlet-name>
    <url-pattern>/ApplyLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovingLeave</display-name>
    <servlet-name>ApprovingLeave</servlet-name>
    <servlet-class>ApplyLeave.ApprovingLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovingLeave</servlet-name>
    <url-pattern>/ApprovingLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileSet</display-name>
    <servlet-name>profileSet</servlet-name>
    <servlet-class>UserData.profileSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileSet</servlet-name>
    <url-pattern>/profileSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>activateUser</display-name>
    <servlet-name>activateUser</servlet-name>
    <servlet-class>UserData.activateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activateUser</servlet-name>
    <url-pattern>/activateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAttendance</display-name>
    <servlet-name>getAttendance</servlet-name>
    <servlet-class>checkin.getAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAttendance</servlet-name>
    <url-pattern>/getAttendance</url-pattern>
  </servlet-mapping>
</web-app>